<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
      
<head>
    <meta charset="UTF-8">
    <title>Exemplo Spring Oauth2 Client </title> 
</head>


<body>
  
  <h2>Exemplo Spring Oauth2 Client </h2>

  
  <a href="/oauth2">Back</a>

  <p>
  
  <form   th:action="@{/oauth2/users}"  method="get" >
      <input type="submit"   value="Consultar" />                                 
  </form>  
  <br>
  
  <p style="color: red ;" th:text="${error}"></p>
  
  <br>
  
  <h4>Resultado</h4>
  <pre><code id="json" class="json" th:text="${resultado}"></code></pre>
	
  <script>
    json.innerHTML = JSON.stringify(JSON.parse(json.innerHTML), null, 4);
  </script>
	      
</body>
</html>
